*  {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

img {
    max-width: 100%;
    height: auto;
}

body {
   display: flex;
   justify-content: center;
   align-items: center;
   min-height: 100vh;
   color: #fff;
   font-family: "Karla", sans-serif;
   background-color: rgb(207, 207, 207);
}

.main-container {
  background-color: #1F2937;
  padding-top: 90px;
  padding-left: 20px;
  padding-right: 20px;
  padding: 90px;
}

.password-title, .title {
  letter-spacing: -2.5%;
}

.password-title {
  display: block;
  color: #4ADF86
}

.header {
  width: 446px;
  border-bottom: none;
}

.title {
  font-weight: 800;
  margin-bottom: 5px;
}

h2 {
  font-size: 18px;
  font-weight: 200;
  letter-spacing: -1.5%;
  color: #e7e7e7;
  margin-bottom: 35px;
}

hr {
  width: 446px;
  margin: 0 auto;
  border-color: #273549;
  margin-bottom: 35px;
}

.btn {
  background-color: #10B981;
  color: #fff;
  border: none;
  font-family: inherit;
  padding: 8px 18px;
  border-radius: 4px;
  margin-bottom: 25px;
  transition: 0.2s ease-in-out;
}

.output-container {
  display: flex;
  width: 446px;
  justify-content: space-between;
  border-top: none;
}

.output {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 211px;
  height: 39px;
  color: #55F991;
  font-size: 16px;
  font-size: medium;
  background-color: #273549;
  border-radius: 6px;
}

.btn:focus {
  outline: none;
}

.btn:hover {
   cursor: pointer;
   background-color: #11D695;
}
